<h2>Edit A Kombucha!</h2>

<% if !@kombucha.errors.full_messages.empty? %>
  <div>
    Errors:
    <ul>
      <% @kombucha.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <br>
<% end %>

<%= form_with model: @kombucha, local: true do |f| %>
  <%= f.label :flavor %>
  <%= f.text_field  :flavor%>
  <br>
  <%= f.label :brew_time %>
  <%= f.number_field :brew_time %>
  <br>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <br>
  <%= f.submit %>
<% end %>

<br>

<%= form_with model: @kombucha, method: :delete do |f| %>
  <%= f.submit "Delete This Kombucha" %>
<% end %>
